<section class="content-header">
  <h1>编辑用户</h1>
  <div class="tools">
    <%= link_to "返回列表", visitors_path, class: 'btn btn-sm btn-default pull-right' %>
  </div>
</section>

<section class="content container-fluid">
  <%= render 'form', visitor: @visitor %>
</section>
