<section class="content-header">
  <h1>新建库存单位</h1>
  <div class="tools">
    <%= link_to "返回列表", skus_path, class: 'btn btn-sm btn-default pull-right' %>
  </div>
</section>

<section class="content container-fluid">
  <%= render 'form', sku: @sku %>
</section>
