form.simple_form {
  .good-skus {
    .skus-btn {
      padding-top: 0px;
    }
    table {
      width: 100%;
      border: 1px solid #D1D5DE;
      tr.fields {
        height: 36px;
        td {
          text-align: center;
        }
        input[type='number'] {
          width: 60px;
        }
      }
    }
  }
}