<section class="content-header">
  <h1>新增<%= '基本' if @category.parent_id == 0 %>类型</h1>
  <div class="tools">
    <%= link_to "返回列表", categories_path, class: 'btn btn-sm btn-default pull-right' %>
  </div>
</section>

<section class="content container-fluid">
  <%= render 'categories/form' %>
</section>
