<!-- To the right -->
<div class="pull-right hidden-xs">
  鄂 ICP 备 16005840 号 - 1	
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2016
  <a href="<%= root_path %>">JJERP.CN</a>.
</strong> All rights reserved.